# ignore LSP-BUILD and LSP-INSTALL
**/LSP-BUILD
**/LSP-INSTALL

# we don't need to upload the pdf
*.pdf

# No VS code stuff
*.DS_Store

# don't want to change the MakeLists since it would be developing locally and running on server
#*.txt